<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
  <test name="chromeTest">
  <parameter name="nodeurl" value="http://localhost:4444/wd/hub"/>
  <parameter name="browsername" value="chrome"/>
  <parameter name="appurl" value="https://demo.actitime.com/login.do"></parameter>
    <classes>
      <class name="Com.Actitime.Tests.ValidLoginLogoutTest"/>
      <class name="Com.Actitime.Tests.VerifyversionTest"/>
      <class name="Com.Actitime.Tests.InvalidLoginTest"/>
    </classes>
  </test> 
  <test name="FirefoxTest">
  <parameter name="nodeurl" value="http://localhost:4444/wd/hub"/>
  <parameter name="browsername" value="firefox"/>
  <parameter name="appurl" value="https://demo.actitime.com/login.do"></parameter>
    <classes>
      <class name="Com.Actitime.Tests.ValidLoginLogoutTest"/>
      <class name="Com.Actitime.Tests.VerifyversionTest"/>
      <class name="Com.Actitime.Tests.InvalidLoginTest"/>
    </classes>
  </test> 
</suite> 
